.main{
  height:100%;
  background: rgb(53, 155, 177);
}

#jumbo{
  background-color: #dddddd !important;
  width:70%;
  margin:auto;
  margin-top:3em;
  margin-bottom: 3em;
  text-align: center;
  border-radius: 25px;


}

.display-2{
text-align:center;

}
.card{
  text-align: center;
  height:313px;

}


.container .card{
  border:5px solid #d3d3d3;
  border-radius: 10px;

}
.container .card .card-header{
  background-color: #343A40;
}
#prices{
  margin-bottom: 5em;

}
.card-header h2{
  color:white;
}
.card-footer button{
  width:80%;
  background-color:#343A40;
  color:white;
}
#map{
  margin-bottom: 2rem;

}
#address{
  text-align: center;
  display: flex;
  align-items: center;
}

#vertCenter{
  margin:auto;
}

#map iframe{
  width:100%;

  border-radius: 15px;
  padding: 5px;
  box-shadow: 5px 5px #535256 ;
}
